/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Style */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.signin-container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Heading */
.signin-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Input Group */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  color: #555;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

/* Button */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  background: #080808;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition:0.3s ease;
}

button[type="submit"]:hover {
  background: #f4f6f4;
}

/* Login Link */
.Signup-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.Signup-link a {
  color: #3c3a3a;
  text-decoration: none;
}

.Signup-link a:hover {
  text-decoration: underline;
}